S3method(predict,rsig)
export(rsig)
export(rsig.all)
export(rsig.eval)
importFrom(BBmisc,catf)
importFrom(BBmisc,checkArg)
importFrom(BBmisc,convertInteger)
importFrom(BBmisc,extractSubList)
importFrom(BBmisc,messagef)
importFrom(BBmisc,namedList)
importFrom(BBmisc,stopf)
importFrom(BBmisc,suppressAll)
importFrom(Matrix,cBind)
importFrom(Matrix,rowMeans)
importFrom(glmnet,cv.glmnet)
importFrom(superpc,superpc.cv)
importFrom(superpc,superpc.predict)
importFrom(superpc,superpc.train)
importFrom(survcomp,concordance.index)
importFrom(survcomp,tdrocc)
importFrom(survival,Surv)
